@import url("https://fast.fonts.net/t/1.css?apiType=css&projectid=5cb68b3b-4d4c-484c-b3df-490ebbf1db5b");
@font-face{
    font-family:"Helvetica Neue LT W05_25 Ult Lt";
    src:url("../fonts/ec6281a0-c9c4-4477-a360-156acd53093f.woff2") format("woff2"),url("../fonts/11066b40-10f7-4123-ba58-d9cbf5e89ceb.woff") format("woff");
}
@font-face{
    font-family:"Helvetica Neue LT W05_35 Thin";
    src:url("../fonts/7d63ccf8-e0ae-4dee-ad4d-bbc798aa5803.woff2") format("woff2"),url("../fonts/b2c1327f-ab3d-4230-93d7-eee8596e1498.woff") format("woff");
}
@font-face{
    font-family:"Helvetica Neue LT W05_45 Light";
    src:url("../fonts/f9c5199e-a996-4c08-9042-1eb845bb7495.woff2") format("woff2"),url("../fonts/2a34f1f8-d701-4949-b12d-133c1c2636eb.woff") format("woff");
}
@font-face{
    font-family:"Helvetica Neue LT W05_55 Roman";
    src:url("../fonts/08b57253-2e0d-4c12-9c57-107f6c67bc49.woff2") format("woff2"),url("../fonts/08edde9d-c27b-4731-a27f-d6cd9b01cd06.woff") format("woff");
}
@font-face{
    font-family:"Helvetica Neue LT W05_75 Bold";
    src:url("../fonts/800da3b0-675f-465f-892d-d76cecbdd5b1.woff2") format("woff2"),url("../fonts/7b415a05-784a-4a4c-8c94-67e9288312f5.woff") format("woff");
}


@import url("https://fast.fonts.net/t/1.css?apiType=css&projectid=110155fc-8353-436e-a66a-259167c7859f");
@font-face{
    font-family:"Adobe Caslon W05 Regular";
    src:url("Fonts/8f1533f4-5a5f-48d3-b4da-c83ece88f90d.woff2") format("woff2"),url("Fonts/8a4b31a9-c77c-4291-bea5-4b79c863254a.woff") format("woff");
}
@font-face{
    font-family:"Adobe Caslon W05 Semibold";
    src:url("Fonts/afbd06c4-d501-4208-af44-920871f67bf2.woff2") format("woff2"),url("Fonts/478fb695-0d58-45bd-85a0-264376bc761b.woff") format("woff");
}
@font-face{
    font-family:"Adobe Caslon W05 Bold";
    src:url("Fonts/fb3cdae6-02ce-42bc-a047-9b8e2c8ef620.woff2") format("woff2"),url("Fonts/8325f69a-2847-42ed-9eff-55a66226074b.woff") format("woff");
}



@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?rcocpq');
    src:  url('../fonts/icomoon.eot?rcocpq#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?rcocpq') format('truetype'),
        url('../fonts/icomoon.woff?rcocpq') format('woff'),
        url('../fonts/icomoon.svg?rcocpq#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal; 
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-chevron-right:before {
    content: "\e900";
}
.icon-chevron-left:before {
    content: "\e901";
}
.icon-chevron-up:before {
    content: "\e902";
}
.icon-chevron-down:before {
    content: "\e903";
}
.icon-arrow-right:before {
    content: "\e904";
}
.icon-arrow-left:before {
    content: "\e905";
}
.icon-arrow-up:before {
    content: "\e906";
}
.icon-arrow-down:before {
    content: "\e907";
}
.icon-plus:before {
    content: "\e908";
}
.icon-minus:before {
    content: "\e909";
}
.icon-close:before {
    content: "\e90a";
}
.icon-search:before {
    content: "\e90b";
}
.icon-burger:before {
    content: "\e90c";
}


@tailwind base;
@tailwind components;
@tailwind utilities;



#ambitLauncherWrapper{
    z-index: 9999 !important;
}

html, body{
    @apply p-0 m-0 flex flex-1 w-full flex-col min-h-full;
}
body{
    @apply flex flex-col flex-1 justify-between items-start font-helvetica55 text-primary-dark;
}


h1{
    @apply text-[42px] lg:text-[54px] font-helvetica25 leading-[54px] lg:leading-[64px] tracking-wide;
}
h2{
    @apply text-[28px] lg:text-[38px] font-helvetica25 leading-[42px] lg:leading-[54px] tracking-wider;
}
h3{
    @apply text-[22px] lg:text-[28px] font-helvetica75 leading-[30px] lg:leading-[36px];
}
h4{
    @apply text-[20px] lg:text-[24px] font-helvetica75 leading-[26px] lg:leading-[32px];
}
h5{
    @apply text-[18px] lg:text-[18px] font-helvetica75 leading-[22px] lg:leading-[22px];
}


.homepage h1{
    @apply text-[32px] lg:text-[54px];
}


a{
    @apply hover:text-secondary focus:text-secondary focus:opacity-90;
}


.container{
    @apply max-w-7xl px-4 mx-auto w-full;
}
.innerContent > p{
    @apply pb-8 font-helvetica35;
}

.logoPro{
    @apply max-w-[170px] lg:max-w-[210px];
}


/* header */
.header{
    @apply w-full bg-primary-dark h-[150px] lg:h-[160px] flex items-center z-[9];
}
.header .logo{
    @apply font-bold text-white text-2xl font-helvetica75;
}
.header .logo img{
    @apply max-w-[200px] lg:max-w-[270px];
}
.header .navContainer{
    @apply flex justify-end;
}
.header .navContainer > a{
    @apply flex lg:hidden justify-between items-center gap-2 bg-white text-primary-dark rounded-full px-5 py-3 font-light text-sm font-helvetica75;
}
.header .navContainer > a > span{
    @apply pt-[1px];
}
.header .navContainer > a > i {
    @apply text-primary-dark;
}
.admin-bar .header{
    @apply lg:top-[32px];
}
.header .navContainer > ul{
    @apply hidden lg:flex justify-end items-center gap-6;
}
.header .navContainer > ul > li{
    @apply relative;
}
.header .navContainer > ul a{
    @apply block py-4 tracking-widest font-helvetica45 text-sm relative text-white hover:text-secondary;
}
.header .navContainer > ul > li.current-menu-item > a:after{
    content: "";
    @apply block w-full h-[2px] bg-secondary absolute left-0 -bottom-0;
}
.header .navContainer > ul > li > ul{
    @apply absolute left-0 top-[100%] w-[200px] bg-white hidden;
}
.header .navContainer > ul > li > ul:before{
    content: "";
    @apply absolute -top-2 left-4 border-transparent border-b-[8px] border-b-white border-r-[8px] border-l-[8px];
}
.header .navContainer > ul > li:hover > ul{
    @apply block py-2 shadow-lg;
}
.header .navContainer > ul > li:hover > ul > li > a{
    @apply block py-2 px-4 text-primary-dark hover:text-secondary border-b-[1px] border-b-gray-200;
}
.header .navContainer > ul > li:hover > ul > li:last-child > a{
    @apply border-b-0;
}

/* main navigation  */
.mainNavigation{
    @apply fixed top-0 bottom-0 right-0 left-0 bg-black bg-opacity-0 -z-[9999] flex flex-col justify-start items-end  transition-all ease-in-out duration-200 w-full;
}
.mainNavigation.active{
    @apply z-[9999] bg-opacity-50;
}
.mainNavigation > div{
    @apply w-[30%] min-w-[360px] -mr-[100%] bg-white text-primary-dark py-10 transition-all ease-in-out duration-200;
}
.mainNavigation.active > div{
    @apply mr-0;
}
.mainNavigation > div:last-child{
    @apply w-[30%] min-w-[360px] bg-gray-50 p-10 flex justify-start items-start;
}
.mainNavigation > div .logo{
    @apply text-primary-dark font-bold text-2xl font-helvetica75;
}
.mainNavigation > div .close{
    @apply text-xs flex justify-center items-center gap-2 border-[1px] border-primary-dark text-primary-dark rounded-full w-14 h-14 hover:text-secondary hover:border-secondary;
}
.mainNavigation > div > ul.menu{
    @apply flex flex-col gap-1 md:gap-2;
}
.mainNavigation > div > ul.menu > li{
    @apply px-10 relative;
}
.mainNavigation > div > ul.menu > li button.opener{
    @apply absolute top-3 right-3 z-[9] p-3 transition-all ease-in-out outline-none focus:ring-0 focus:outline-none;
}
.mainNavigation > div > ul.menu > li button.opener.active{
    @apply rotate-180;
}
.mainNavigation > div > ul.menu > li > a{
    @apply text-base md:text-lg font-helvetica35 hover:text-secondary transition-all ease-in-out py-4 block lowercase relative z-[8];
}
.mainNavigation > div > ul.menu > li.current_page_item{
    @apply bg-secondary bg-opacity-10 border-l-[10px] border-l-secondary pl-[30px];
}
.mainNavigation > div > ul.menu > li.current_page_item > a{
    @apply text-secondary font-helvetica75;
}
.mainNavigation > div > ul.menu > li > ul {
    @apply hidden;
}
.mainNavigation > div > ul.menu > li > ul.opened{
    @apply block;
} 
.mainNavigation > div > ul.menu > li > ul > li > a{
    @apply block py-2 pl-4;
}


/* main content area */
.mainContent{
    @apply flex flex-1 flex-col h-full w-full min-h-[80vh] lg:min-h-full relative z-[8];
}

/* footer */
.footer{
    @apply bg-primary-dark text-white py-10 w-full min-h-[120px];
}
.footer ul.menu{
    @apply flex flex-row justify-end items-center gap-2 mt-4 lg:mt-0;
}
.footer ul.menu > li > a{
    @apply text-xs lg:text-sm opacity-75 font-helvetica35 hover:opacity-100;
}
.footer ul.menu > li{
    @apply relative pl-3;
}
.footer ul.menu > li:not(:first-child):before{
    content: '';
    @apply absolute top-3 left-0 w-1 h-1 rounded-full bg-primary-light;
}


/* buttons */
.btn.btn-primary,
.button{
    @apply bg-primary-dark hover:bg-primary-light text-white transition-all ease-in-out h-12 flex justify-center items-center px-8 hover:text-white hover:cursor-pointer uppercase text-sm;
}
.button.secondary{
    @apply hover:text-white bg-secondary hover:bg-secondary hover:bg-opacity-75;
}
.button.outline.secondary{
    @apply bg-white hover:bg-secondary hover:bg-opacity-100 border-2 border-secondary text-secondary outline-none hover:text-white;
}


/*  */
.topPage{
    @apply lg:min-h-[40vh] w-full flex flex-col-reverse lg:flex-row text-white justify-end relative;
}
.topPage > div.bg{
    @apply bg-primary-dark absolute left-0 top-0 bottom-0 z-[1];
}
.topPage > div.image{
    @apply hidden lg:block bg-primary-dark lg:absolute lg:right-0 lg:top-0 lg:bottom-0 z-[1] bg-cover bg-center pb-[65%] lg:pb-0 w-full;
}
.topPage > div.container{
    @apply relative z-[2] flex flex-col justify-end pb-6 lg:pb-10 bg-primary-dark lg:bg-transparent pt-44 lg:pt-0;
}
.topPage > div.container h2{
    @apply lg:max-w-[30%];
}



/* top_page */
.top_page{
    @apply bg-primary-dark px-6 text-white py-10 text-center;
}



/* banner_block_1 */
.banner_block_1{
    @apply w-full py-10;
}
.banner_block_1 .item{
    @apply py-10;
}
.banner_block_1 .item .image{
    @apply block pb-[50%] bg-cover bg-center mb-6 transition-all ease-in-out hover:opacity-90;
}
.banner_block_1 .item h4{
    @apply mt-2 uppercase tracking-widest text-secondary font-helvetica75;
}
.banner_block_1 .item h3{
    @apply uppercase tracking-widest text-primary-dark font-helvetica35;
}
.banner_block_1 .item h3 a{

}


/* contact form */
.contact_form{
    @apply h-full py-20;
}
.contact_form .sectionTitle{
    @apply text-center pb-10;
}
.contact_form p{
    @apply text-center;
}
.contact_form .cf{
    @apply mt-20;
}
.contact_form .cf form > div{
    @apply block pb-10;
}
.contact_form .cf form > div:nth-last-child(2){
    @apply flex justify-start items-center;
}
.contact_form .cf textarea,
.contact_form .cf input[type="email"],
.contact_form .cf input[type="tel"],
.contact_form .cf input[type="number"],
.contact_form .cf input[type="text"]{
    @apply w-full bg-white border-[1px] border-primary-light border-opacity-25 py-4 px-8 focus:ring-0 focus:outline-none focus:border-primary-dark;
}
.wpcf7 form.invalid .wpcf7-response-output, 
.wpcf7 form.unaccepted .wpcf7-response-output, 
.wpcf7 form.payment-required .wpcf7-response-output{
    @apply m-0 px-8 py-4 text-center border-0 bg-primary-dark text-white;
}
.wpcf7 form.sent .wpcf7-response-output{
    @apply m-0 px-8 py-4 text-center border-0 bg-primary-light text-white;
}



/* three_column_block */
.three_column_block .sectionTitle{
    @apply text-center pb-10;
}
.three_column_block p{
    @apply text-center;
}
.three_column_block .item .image{
    @apply block pb-[50%] bg-cover bg-center mb-6 transition-all ease-in-out hover:opacity-90;
}
.three_column_block .item h4{
    @apply mt-2 uppercase tracking-widest text-secondary font-helvetica75;
}
.three_column_block .item h3{
    @apply tracking-widest text-primary-dark font-helvetica35;
}


/* three_column_block_resourcces */
.three_column_block_resourcces .sectionTitle{
    @apply flex justify-center items-center gap-4;
}
.three_column_block_resourcces .sectionTitle:before,
.three_column_block_resourcces .sectionTitle:after{
    content: "";
    @apply w-full h-[1px] bg-primary-dark;
}
.three_column_block_resourcces .sectionTitle > *{
    @apply whitespace-nowrap tracking-widest text-2xl font-helvetica45;
}
.three_column_block_resourcces .item{
    @apply flex flex-col justify-between border-[1px] border-primary-dark;
}
.three_column_block_resourcces .item .image{
    @apply block pb-[50%] bg-cover bg-center mb-6 transition-all ease-in-out hover:opacity-90;
}
.three_column_block_resourcces .item p{
    @apply my-4 px-4 font-helvetica45;
}
.three_column_block_resourcces .item h3{
    @apply px-4 tracking-widest text-primary-dark font-helvetica35;
}
.three_column_block_resourcces .item .button{
    @apply m-4;
}


/* locked content */
.locked{
    @apply relative py-20;
}
.locked > div:first-child{
    @apply opacity-30;
}
.locked .lockedContent{
    @apply absolute inset-0 backdrop-blur-sm flex justify-center items-center flex-col;
}


.hero_cta h2{
    @apply font-caslonRegular text-2xl lg:text-7xl mb-6;
}


.hero_carousel{
    @apply h-[75vh] md:h-[50vh] relative;
}
.hero_carousel .tns-outer,
.hero_carousel .tns-slider,
.hero_carousel .tns-inner,
.hero_carousel .tns-ovh{
    @apply h-full;
}
.hero_carousel .item{
    @apply h-full bg-cover bg-center;
}
.hero_carousel .item .container{
    @apply h-full flex justify-start items-center;
}
.hero_carousel button.icon-chevron-left{
    @apply p-3 absolute bottom-0 lg:bottom-auto lg:top-[50%] left-0 lg:left-4 text-2xl bg-white bg-opacity-50;
}
.hero_carousel button.icon-chevron-right{
    @apply p-3 absolute bottom-0 lg:bottom-auto lg:top-[50%] right-0 lg:right-4 text-2xl bg-white bg-opacity-50;
}



/* page-pagination */
.page-pagination{
    @apply my-10;
}
.page-pagination ul{
    @apply flex justify-center items-center;
}
.page-pagination li a,
.page-pagination li span{
    @apply block py-2 px-4 rounded-full hover:bg-gray-100;
}


/* article-loop */
.article-loop{
    @apply flex flex-col justify-between items-start pb-6 border-b-[1px] border-b-gray-200;
}
.article-loop .image{
    @apply block aspect-video bg-center bg-cover mb-6 transition-all ease-in-out hover:opacity-75;
}
.article-loop .readmore{
    @apply uppercase font-semibold text-sm mt-6;
}
.article-loop h4{
    @apply pb-6 pt-2;
}


/* article-single */
.article-single p{
    @apply mb-6;
}
.article-single ul{
    @apply mb-6 list-disc pl-6;
}
.article-single ol{
    @apply mb-6 list-decimal pl-6;
}
.article-single strong{
    @apply font-helvetica75;
}
.article-single a{
    @apply text-secondary;
}
.article-single blockquote{
    @apply py-10 text-center italic text-2xl;
}